<!DOCTYPE html>
<html lang="en">
{% load bootstrap3 %}
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
{% load header_tag %}
{% logged_in_user user%}

<body>
<div class="container">
  <div class="jumbotron">
    <h1>{{ Category.name }}</h1>
    <p>Welcome to the {{ Category.name }}. Keep reading you are Awesome</p>
  </div>

</div>
    <div class="container">
  <h2>Posts</h2>
{% for post in Category.get_posts %}
    <a href="{% url 'blog:PostDetail' Category.id post.id %}">
    <div class="panel panel-default">
        <div class="panel-body">
            <b>Title: </b><p>{{ post.title }}</p>
            <b>Created by: </b><p>{{ post.created_by.username }}</p>
            <b>Date Posted</b><p>{{ post.date_created }}</p>
        </a>
        {% if user == post.created_by %}
            <form action="{% url 'blog:DeletePost' Category.id post.id %}" method="Post" style="display:inline-table">
                {% csrf_token %}
                {% buttons %}
                    <button type="submit", class="align-right float-right pull-right">
                        {% bootstrap_icon "remove" %} Delete
                    </button>
                {% endbuttons %}
            </form>
            <form action="{% url 'blog:UpdatePostView' Category.id post.id %}" method="get" style="display:inline-table">
                {% csrf_token %}
                {% buttons %}
                    <button type="submit", class="align-right float-right pull-right">
                        {% bootstrap_icon "pencil" %} Update
                    </button>
                {% endbuttons %}
            </form>
        {% endif %}
        </div>
    </div>

{% endfor %}

    </div>

 <div class="container">
  <h2>Add Post </h2>
<form action="{% url 'blog:CreatePost' Category.id %}" method="post" class="form-control-static">
    {% csrf_token %}
    {% bootstrap_form post_form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary align-left">
            {% bootstrap_icon "plus" %} Add Post
        </button>
    {% endbuttons %}
</form>
  </div>
</body>
</html>