<!DOCTYPE html>
<html lang="en">
{% load bootstrap3 %}
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

{% for post in Category.get_posts %}
    <p>{{ post.title }}</p>
    <p>{{ post.description }}</p>
    <p>{{ post.created_by.username }}</p>
    <p>{{ post.date_created }}</p>
{% endfor %}

<form action="{% url 'blog:CreatePost' Category.id %}" method="post" class="form-row">
    {% csrf_token %}
    {% bootstrap_form post_form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary align-left">
            {% bootstrap_icon "plus" %} Add Post
        </button>
    {% endbuttons %}
</form>
</body>
</html>